body{
    margin: 0;
}
.hot{
background-image: url("/assets/cosy.jpg");
}
.juicy{
background-image: url("/assets/juicy.jpg");
}
.cosy{
background-image: url("/assets/hot.jpg");
}
.fullbackground{
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
ul{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;   display: inline-block;
    width: 100px;
    text-align: center;
;
}
header{
    height: 50px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: rgba(15, 0, 34, 0.7);

}